.AnswerButton {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 20%;
    cursor: pointer;
    background: #668ad8;
    color: #FFF;
    margin: 10px;
    padding: 5px;
    box-shadow: 5px 5px 3px rgba(33,33,33,.2);
}

.AnswerButton span {
    font-size: 3em;
}

.AnswerButton:hover {
    background: #4678e4;
}

.AnswerButton:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}
